body {
  margin: 0 auto;
  padding: 0px;
}
.alcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spbtw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back {
  background: url(../img/Group\ 5.png);
}
/* INTRO CARD STArT */
.intro_head {
  margin-top: 5.063rem;
}
.intro_head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;

  letter-spacing: -0.520833px;

  color: #ffffff;
}
.intro_head p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #ffffff;
}
/* INTRO CARD END */

/* SIGN IN CARD START */

/* PRICE BUTTON START */
.btn_action {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1.5rem;
  background: #5e54a4;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  cursor: pointer;
}
/* PRICE BUTTON END */

/* INPUT PART START */
.forms_box {
  background: #ffffff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  padding: 1.25rem;
}

input:first-child {
  margin-top: 1.5rem;
}

input {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 85%;
  height: 3rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border: 1px solid #dedede;
  border-radius: 0.2rem;
}

form p {
  font-size: 0.7rem;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #bab7d4;
  line-height: 1.5rem;
  text-align: center;
}

form a {
  color: #ff7979 !important;
  font-weight: 700;
}

/* INPUT PART END */

/* CLAIM BUTTON START */

.button-82-pushable {
  margin-top: 1.5rem;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  box-sizing: border-box;
  width: 85%;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    #38cc8b 0%,
    #77e2b3 8%,
    #77e2b3 92%,
    #38cc8b 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #38cc8b;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 44px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

/* CLAIM BUTTON END */

@media only screen and (max-width: 780px) {
  .intro_head p,
  h1 {
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .intro_head {
    margin-top: 0px;
  }
}

/* SIGN IN CARD END */
